<article class="timesheet-section">
  <div class="filter-section container-fluid">
    <div class="row">
      <div class="left-section">
        <span class="current-btn" (click)="getCalendarNavigation(true)">Current</span>
        <div class="daterange-container">
          <span class="ck ck-arrow_left" [ngClass]="{'disabled': !calendarNavigationDetails?.isPreviousActive}" (click)="getCalendarNavigation(calendarNavigationDetails?.isPreviousActive, weekActionType?.previous, calendarNavigationDetails?.startDate)"></span>
          <span class="date-range">
            <span class="ck ck-calendar"></span>
            <span class="details">
              <span *ngIf="calendarNavigationDetails?.startDate && calendarNavigationDetails?.endDate">{{calendarNavigationDetails?.startDate
                | date:'d LLL'}} - {{calendarNavigationDetails?.endDate | date:'d LLL y'}}
              </span>
            </span>
          </span>
          <span class="ck ck-arrow_right" [ngClass]="{'disabled': !calendarNavigationDetails?.isNextActive}" (click)="getCalendarNavigation(calendarNavigationDetails?.isNextActive, weekActionType?.next, calendarNavigationDetails?.startDate)"></span>
        </div>
      </div>
      <div class="right-section" *ngIf="accountRegionSetting?.isForecastEnable">
        <div ngbDropdown placement="bottom-right" class="d-inline-block">
          <span class="ck ck-more" id="userPreferenceDropdown" ngbDropdownToggle></span>
          <div ngbDropdownMenu aria-labelledby="userPreferenceDropdown">
            <button class="dropdown-item" (click)="toogleDisplayForecast()" *ngIf="accountRegionSetting?.isForecastEnable">{{accountRegionSetting?.isDisplayForecast?'Hide
              forecast':'Show forecast'}}</button>
            <!-- <button class="dropdown-item" (click)="toogleDisplayWeekend()">{{accountRegionSetting?.isDisplayWeekend?'Hide weekly off days':'Show weekly off days'}}</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="timesheet-table-section">
    <div class="new-cockpit-table">
      <div class="new-cockpit-table-row">
        <div class="new-cockpit-header-cell work-col">Work</div>
        <div class="new-cockpit-header-cell project-col" *ngIf="thirdPartyConfigurationStatus.configured === _userService.userDetails.thirdPartyConfigurationStatus">Project</div>
        <div class="new-cockpit-header-cell activity-col" *ngIf="thirdPartyConfigurationStatus.configured === _userService.userDetails.thirdPartyConfigurationStatus">Activity</div>
        <div class="new-cockpit-header-cell level-col">Level</div>
        <div class="new-cockpit-header-cell category-col" *ngIf="accountRegionSetting?.isDisplayCategory">Category</div>
        <div class="new-cockpit-header-cell hours-col justify-content-center">Hours</div>
        <div class="new-cockpit-header-cell total-col">Total</div>
        <div class="new-cockpit-header-cell operations-col"></div>
      </div>
      <form id="quickAddForm" #quickAddForm="ngForm" (ngSubmit)="addNewWorkLog(quickAddForm)">
        <div class="new-cockpit-table-row sub-header-row">
          <div class="new-cockpit-body-cell work-col" (clickOutside)="resetLogWorkSearchPanel()">
            <div class="add-log-work" *ngIf="thirdPartyConfigurationStatus.configuredButUserNotFound !== _userService.userDetails.thirdPartyConfigurationStatus">
              <input type="text" name="logWorkInput" [ngClass]="{'log-work-input': !logWorkPanelData?.showAddLayout, 'border-color-blue': logWorkPanelData?.showLogWorkPanel, 'border-danger': logWorkInput?.errors?.required && (logWorkInput?.touched || quickAddForm.submitted)}"
                maxlength="250" *ngIf="!isTimesheetFreezed" placeholder="Log work" (focus)="onFocusLogWorkInput()" (window:resize)="onResize($event)"
                [(ngModel)]="newWorklog.searchText" required #logWorkInput="ngModel" #logWorkInputField autocomplete="off"
                (ngModelChange)="onWorkItemSearchTextChange(logWorkPanelData.selectedListType)">
            </div>
            <div class="log-work-panel" *ngIf="logWorkPanelData?.showLogWorkPanel" [ngStyle]="{'width': logWorkPanelData.logPanelWidth}">
              <div class="tab-panel">
                <div class="tab" [ngClass]="{'active': logWorkPanelData.selectedListType === workLogSearchListTypeConstants.workItems}" (click)="onLogWorkSearchTabSelection(workLogSearchListTypeConstants.workItems)">Work
                  items
                </div>
                <div class="tab" [ngClass]="{'active': logWorkPanelData.selectedListType === workLogSearchListTypeConstants.internal}" (click)="onLogWorkSearchTabSelection(workLogSearchListTypeConstants.internal)">Internal</div>
              </div>
              <div class="workitem-list">
                <ng-container *ngIf="logWorkPanelData.selectedListType === workLogSearchListTypeConstants.workItems">
                  <perfect-scrollbar class="work-item-container" (psYReachEnd)="loadWorkItemData()">
                    <div class="item work-item" *ngFor="let item of logWorkPanelData.workItemSearchDetails.list" (click)="fillAddWorkLog(item, workLogItemType.workItem)">
                      <div class="item-icon">
                        <i class="{{item?.workLogItemClass?.class}}"></i>
                      </div>
                      <div class="item-id {{item?.workLogItemClass?.color}}" [title]="item?.id">
                        {{item?.id}}
                      </div>
                      <div class="item-name" [title]="item?.title">
                        {{item?.title}}
                      </div>
                      <div class="item-level" [title]="item?.level?.name" *ngIf="item?.level?.name">
                        {{item?.level?.name}}
                      </div>
                    </div>
                  </perfect-scrollbar>
                  <div class="item load-more-data" *ngIf="!logWorkPanelData?.workItemSearchDetails?.isLoadMore && !logWorkPanelData?.workItemSearchDetails?.isLoading">
                    <span>No more data to load</span>
                  </div>
                  <div class="item load-more-data" *ngIf="logWorkPanelData?.workItemSearchDetails?.isLoadMore && logWorkPanelData?.workItemSearchDetails?.isLoading">
                    <span>Loading...</span>
                  </div>
                  <div class="item" (click)="fillAddWorkLog(newWorklog,  workLogItemType.work)" *ngIf="newWorklog?.searchText">
                    <div>{{newWorklog?.searchText}}</div>
                  </div>
                </ng-container>
                <ng-container *ngIf="logWorkPanelData.selectedListType === workLogSearchListTypeConstants.internal">
                  <perfect-scrollbar class="internal-item-container">
                    <div class="item internal-item" *ngFor="let item of logWorkPanelData.internalCategorySearchDetails.list | arrayFilter: filterInternalCategoryByName: newWorklog.searchText"
                      (click)="fillAddWorkLog(item, workLogItemType.internalCategory)">
                      <div class="item-icon">
                        <i class="{{item?.workLogItemClass?.class}}"></i>
                      </div>
                      <div class="internal-name" [title]="item.name">{{item.name}}</div>
                      <div class="category-name" [title]="item.categoryName">
                        <i class="ck ck-dot {{item.categoryColorClass}}"></i>
                        <span>{{item.categoryName}}</span>
                      </div>
                    </div>
                  </perfect-scrollbar>
                  <div class="item load-more-data" *ngIf="logWorkPanelData?.internalCategorySearchDetails?.isLoading">
                    <span>Loading...</span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="new-cockpit-body-cell project-col" *ngIf="thirdPartyConfigurationStatus.configured === _userService.userDetails.thirdPartyConfigurationStatus">
            <div ngbDropdown ngbDropdownReposition class="custom-dropdown d-block" *ngIf="logWorkPanelData?.showAddLayout">
              <div ngbDropdownToggle>
                <span class="text" [title]="newWorklog?.synergyDetail?.project?.name ? newWorklog?.synergyDetail?.project?.name : 'Select project'">{{newWorklog?.synergyDetail?.project?.name
                  ? newWorklog?.synergyDetail?.project?.name : 'Select project'}}</span>
                <span class="ck ck-arrow_down"></span>
              </div>
              <div class="project-col-dropdown table-dropdown append-to-body" ngbDropdownMenu [ngStyle]="{'display': projectList?.length ? 'block': 'none'}">
                <div class="dropdown-item scrollable-menu">
                  <table>
                    <tbody>
                      <tr [ngClass]="{'active': project?.code === newWorklog?.synergyDetail?.project?.code}" *ngFor="let project of projectList"
                        (click)="onSelectProject(newWorklog, project)">
                        <td class="id-col">{{project?.id}}</td>
                        <td class="name-col">{{project?.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="new-cockpit-body-cell activity-col" *ngIf="thirdPartyConfigurationStatus.configured === _userService.userDetails.thirdPartyConfigurationStatus">
            <div ngbDropdown ngbDropdownReposition class="custom-dropdown d-block" *ngIf="logWorkPanelData?.showAddLayout">
              <div ngbDropdownToggle (click)="getActivities(newWorklog?.synergyDetail?.project)">
                <span class="text" [title]="newWorklog?.synergyDetail?.activity?.name ? newWorklog?.synergyDetail?.activity?.name : 'Select activity'">{{newWorklog?.synergyDetail?.activity?.name
                  ? newWorklog?.synergyDetail?.activity?.name : 'Select activity'}}</span>
                <span class="ck ck-arrow_down"></span>
              </div>
              <div class="activity-col-dropdown table-dropdown append-to-body" ngbDropdownMenu [ngStyle]="{'display': activityDetails?.list?.length ? 'block': 'none'}">
                <div class="dropdown-item scrollable-menu">
                  <table>
                    <tbody>
                      <tr [ngClass]="{'active': activity?.code === newWorklog?.synergyDetail?.activity?.code}" *ngFor="let activity of activityDetails?.list"
                        (click)="onSelectActivity(newWorklog, activity)">
                        <td class="id-col">{{activity?.id}}</td>
                        <td class="name-col">{{activity?.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="new-cockpit-body-cell level-col">
            <span class="cell-label" [title]="newWorklog?.level?.name" *ngIf="newWorklog?.workLogItemType === workLogItemType?.workItem && logWorkPanelData?.showAddLayout">{{newWorklog?.level?.name}}</span>
            <div ngbDropdown ngbDropdownReposition class="custom-dropdown d-block" autoClose="outside" #levelDropdown="ngbDropdown" *ngIf="newWorklog?.workLogItemType !== workLogItemType?.workItem && logWorkPanelData?.showAddLayout">
              <div ngbDropdownToggle (click)="setSelectedLevel(tree, newWorklog?.level)">
                <span class="text" [title]="newWorklog?.level?.name ? newWorklog?.level?.name : 'Select level'">{{newWorklog?.level?.name
                  ? newWorklog?.level?.name : 'Select level'}}</span>
                <span class="ck ck-arrow_down"></span>
              </div>
              <div class="activity-col-dropdown append-to-body" ngbDropdownMenu>
                <div class="customTree">
                  <div class="search-box">
                    <input id="filter" #filter (keyup)="tree.treeModel.filterNodes(filter.value, true)" placeholder="Search" class="tree-filter"
                    />
                    <span class="ck ck-search"></span>
                  </div>
                  <perfect-scrollbar class="scroller">
                    <tree-root #tree [nodes]="organizationLevelList">
                      <ng-template #treeNodeTemplate let-node let-index="index">
                        <span (click)="onSelectLevel(newWorklog, levelDropdown, node)" [title]="node?.data?.name">{{node?.data?.name}}</span>
                      </ng-template>
                    </tree-root>
                  </perfect-scrollbar>
                </div>
              </div>
            </div>
          </div>
          <div class="new-cockpit-body-cell category-col" *ngIf="accountRegionSetting?.isDisplayCategory">
            <span class="label" [title]="newWorklog?.categoryName" *ngIf="logWorkPanelData?.showAddLayout &&  newWorklog?.categoryName && newWorklog?.workLogItemType === workLogItemType?.internalCategory">
              <i class="ck ck-dot {{newWorklog?.categoryColorClass}}"></i>
              <span class="text" [title]="newWorklog?.categoryName">{{newWorklog?.categoryName}}</span>
            </span>
            <ng-container *ngIf="logWorkPanelData?.showAddLayout && newWorklog?.workLogItemType !== workLogItemType?.internalCategory">
              <div ngbDropdown ngbDropdownReposition class="custom-dropdown d-block">
                <div ngbDropdownToggle>
                  <div class="selected-text">
                    <i class="ck ck-dot {{newWorklog?.categoryColorClass}}" *ngIf="newWorklog?.categoryName"></i>
                    <span class="text" [title]="newWorklog?.categoryName ? newWorklog?.categoryName : 'Select category'">{{newWorklog?.categoryName
                      ? newWorklog?.categoryName : 'Select category'}}</span>
                    <span class="ck ck-arrow_down"></span>
                  </div>
                </div>
                <div class="append-to-body category-dropdown" ngbDropdownMenu [ngStyle]="{'display': categoryList?.length ? 'block': 'none'}">
                  <perfect-scrollbar class=" scrollable-menu">
                    <ul class="dropdown-list">
                      <li *ngFor="let category of categoryList" (click)="onSelectCategory(newWorklog, category)">
                        <i class="ck ck-dot {{category?.colorClass}}"></i>
                        <span class="text" [title]="category?.name">{{category?.name}}</span>
                      </li>
                    </ul>
                  </perfect-scrollbar>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="new-cockpit-body-cell hours-col" [ngClass]="{'normal-border': logWorkPanelData?.showAddLayout}">
            <ng-container *ngIf="!logWorkPanelData?.showAddLayout">
              <div class="hours-cell" [ngClass]="{'weekoffs': (day?.weekDay === 0 || day?.weekDay === 6)}" [ngStyle]="{'display': ((day?.weekDay === 0 || day?.weekDay === 6) && !accountRegionSetting?.isDisplayWeekend)?'none':'block'}"
                *ngFor="let day of calendarNavigationDetails.days">
                <div class="day">{{(day.date | date:'EEEEEE')}}</div>
                <div class="date">{{day?.date | date:'d'}}</div>
              </div>
            </ng-container>
            <button class="add-btn" *ngIf="logWorkPanelData?.showAddLayout">Add</button>
            <span class="ck ck-cancel cancel-btn" *ngIf="logWorkPanelData?.showAddLayout" (click)="resetAddNewWorkLog()"></span>
          </div>
          <div class="new-cockpit-body-cell total-col"></div>
          <div class="new-cockpit-body-cell operations-col"></div>
        </div>
      </form>
    </div>
    <perfect-scrollbar class="scroll-wrapper" *ngIf="workLogListDetails?.list?.length && thirdPartyConfigurationStatus.configuredButUserNotFound !== _userService.userDetails.thirdPartyConfigurationStatus">
      <div class="new-cockpit-table">
        <div class="new-cockpit-table-row" *ngFor="let worklog of workLogListDetails?.list;let index = index">
          <div class="new-cockpit-body-cell work-col">
            <div class="content">
              <span class="item-icon {{worklog?.workLogItemClass?.class}}"></span>
              <input type="text" [ngClass]="{'error': !worklog?.work && isSheetSaved}" [(ngModel)]="worklog.work" maxlength="250" *ngIf="worklog?.enableEditWork && !isTimesheetFreezed && worklog?.workLogItemType === workLogItemType?.work"
                (blur)="worklog?.work ? worklog.enableEditWork=false:''" placeholder="Enter work detail" autofocus>
              <label [class.work]="worklog?.workLogItemType === workLogItemType?.work && !isTimesheetFreezed" *ngIf="!worklog?.enableEditWork && worklog?.workLogItemType === workLogItemType?.work"
                title="{{worklog?.work}}" (click)="!isTimesheetFreezed ? worklog.enableEditWork=true:''">{{worklog?.work}}</label>
              <label *ngIf="worklog?.workLogItemType === workLogItemType?.workItem" title="{{worklog?.workItem?.title}}">{{worklog?.workItem?.title}}</label>
              <label *ngIf="worklog?.workLogItemType === workLogItemType?.internalCategory" title="{{worklog?.internalCategoryName}}">{{worklog?.internalCategoryName}}</label>
              <div *ngIf="!isTimesheetFreezed || (worklog?.description && isTimesheetFreezed)">
                <button class="description ck ck-note" [ngClass]="{'filled': worklog?.description}" placement="bottom-left" container="body"
                  [ngbPopover]="descriptionPopover" triggers="manual" #popover="ngbPopover" attr.data-popovername="descriptionPopover{{index}}"
                  (click)="toggleDescriptionPopover(popover, worklog)">
                </button>
                <ng-template #descriptionPopover>
                  <div class="description-popover" (clickOutside)="clickOutsideDescriptionPopover($event, popover, index)">
                    <div [ngStyle]="{'display': worklog?.enableEditDescription? 'none': 'display'}">
                      <span [title]="worklog?.description">{{worklog?.description}}</span>
                      <span class="ck ck-edit" (click)="worklog.enableEditDescription = true" *ngIf="!isTimesheetFreezed"></span>
                    </div>
                    <div *ngIf="worklog?.enableEditDescription && !isTimesheetFreezed">
                      <textarea maxlength="250" cols="30" rows="5" placeholder="Add a description" [(ngModel)]="worklog.tempDescription"></textarea>
                      <div class="btn-block">
                        <input class="ac-button ac-secondary ac-small" type="button" value="Cancel" (click)="closeDescriptionPopover(popover)">
                        <input class="ac-button ac-primary ac-small btn-save" type="button" value="Save" (click)="saveDescriptionPopover(popover, worklog)">
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="new-cockpit-body-cell project-col" *ngIf="thirdPartyConfigurationStatus.configured === _userService.userDetails.thirdPartyConfigurationStatus">
            <span class="cell-label" [title]="worklog?.synergyDetail?.project?.name" *ngIf="isTimesheetFreezed">{{worklog?.synergyDetail?.project?.name}}</span>
            <div ngbDropdown ngbDropdownReposition class="custom-dropdown d-block" [class.error]="!worklog?.synergyDetail?.project?.id && isSheetSubmitted"
              *ngIf="!isTimesheetFreezed">
              <div ngbDropdownToggle>
                <span class="text" [title]="worklog?.synergyDetail?.project?.name ? worklog?.synergyDetail?.project?.name : 'Select project'">{{worklog?.synergyDetail?.project?.name
                  ? worklog?.synergyDetail?.project?.name : 'Select project'}}</span>
                <span class="ck ck-arrow_down"></span>
              </div>
              <div class="project-col-dropdown table-dropdown append-to-body" ngbDropdownMenu [ngStyle]="{'display': projectList?.length ? 'block': 'none'}">
                <div class="dropdown-item scrollable-menu">
                  <table>
                    <tbody>
                      <tr [ngClass]="{'active': project?.code === worklog?.synergyDetail?.project?.code}" *ngFor="let project of projectList" (click)="onSelectProject(worklog, project)">
                        <td class="id-col">{{project?.id}}</td>
                        <td class="name-col">{{project?.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="new-cockpit-body-cell activity-col" *ngIf="thirdPartyConfigurationStatus.configured === _userService.userDetails.thirdPartyConfigurationStatus">
            <span class="cell-label" [title]="worklog?.synergyDetail?.activity?.name" *ngIf="isTimesheetFreezed">{{worklog?.synergyDetail?.activity?.name}}</span>
            <div ngbDropdown ngbDropdownReposition class="custom-dropdown d-block" [class.error]="!worklog?.synergyDetail?.activity?.id && isSheetSubmitted"
              *ngIf="!isTimesheetFreezed">
              <div ngbDropdownToggle (click)="getActivities(worklog?.synergyDetail?.project)">
                <span class="text" [title]="worklog?.synergyDetail?.activity?.name ? worklog?.synergyDetail?.activity?.name : 'Select activity'">{{worklog?.synergyDetail?.activity?.name
                  ? worklog?.synergyDetail?.activity?.name : 'Select activity'}}</span>
                <span class="ck ck-arrow_down"></span>
              </div>
              <div class="activity-col-dropdown table-dropdown append-to-body" ngbDropdownMenu [ngStyle]="{'display': activityDetails?.list?.length ? 'block': 'none'}">
                <div class="dropdown-item scrollable-menu">
                  <table>
                    <tbody>
                      <tr [ngClass]="{'active': activity?.code === worklog?.synergyDetail?.activity?.code}" *ngFor="let activity of activityDetails?.list"
                        (click)="onSelectActivity(worklog, activity)">
                        <td class="id-col">{{activity?.id}}</td>
                        <td class="name-col">{{activity?.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="new-cockpit-body-cell level-col">
            <span class="cell-label" [title]="worklog?.level?.name" *ngIf="worklog?.workLogItemType === workLogItemType?.workItem || isTimesheetFreezed">{{worklog?.level?.name}}</span>
            <div ngbDropdown ngbDropdownReposition class="custom-dropdown d-block" autoClose="outside" #levelDropdown="ngbDropdown" [class.error]="worklog?.workLogItemType === workLogItemType?.workItem && !worklog?.level?.id && isSheetSubmitted"
              *ngIf="worklog?.workLogItemType !== workLogItemType?.workItem && !isTimesheetFreezed">
              <div ngbDropdownToggle (click)="setSelectedLevel(tree, worklog?.level)">
                <span class="text" [title]="worklog?.level?.name ? worklog?.level?.name : 'Select level'">{{worklog?.level?.name
                  ? worklog?.level?.name : 'Select level'}}</span>
                <span class="ck ck-arrow_down"></span>
              </div>
              <div class="append-to-body" ngbDropdownMenu>
                <div class="customTree">
                  <div class="search-box">
                    <input id="filter" #filter (keyup)="tree.treeModel.filterNodes(filter.value, true)" placeholder="Search" class="tree-filter"
                    />
                    <span class="ck ck-search"></span>
                  </div>
                  <perfect-scrollbar class="scroller">
                    <tree-root #tree [nodes]="organizationLevelList" [focused]="true">
                      <ng-template #treeNodeTemplate let-node let-index="index">
                        <span class="name" (click)="onSelectLevel(worklog, levelDropdown, node)" [title]="node?.data?.name">{{node?.data?.name}}</span>
                      </ng-template>
                    </tree-root>
                  </perfect-scrollbar>
                </div>
              </div>
            </div>
          </div>
          <div class="new-cockpit-body-cell category-col" *ngIf="accountRegionSetting?.isDisplayCategory">
            <span class="label" [title]="worklog?.categoryName" *ngIf="worklog?.categoryName && (isTimesheetFreezed || worklog?.workLogItemType === workLogItemType?.internalCategory)">
              <i class="ck ck-dot {{worklog?.categoryColorClass}}"></i>
              <span class="text" [title]="worklog?.categoryName">{{worklog?.categoryName}}</span>
            </span>
            <div ngbDropdown ngbDropdownReposition class="custom-dropdown d-block" [class.error]="worklog?.workLogItemType === workLogItemType?.internalCategory && !worklog?.categoryId && isSheetSubmitted"
              *ngIf="!isTimesheetFreezed && worklog?.workLogItemType !== workLogItemType?.internalCategory">
              <div ngbDropdownToggle>
                <div class="selected-text">
                  <i class="ck ck-dot {{worklog?.categoryColorClass}}" *ngIf="worklog?.categoryName"></i>
                  <span class="text" [title]="worklog?.categoryName ? worklog?.categoryName : 'Select category'">{{worklog?.categoryName
                    ? worklog?.categoryName : 'Select category'}}</span>
                  <span class="ck ck-arrow_down"></span>
                </div>
              </div>
              <div class="append-to-body category-dropdown" ngbDropdownMenu [ngStyle]="{'display': categoryList?.length ? 'block': 'none'}">
                <perfect-scrollbar class=" scrollable-menu">
                  <ul class="dropdown-list">
                    <li *ngFor="let category of categoryList" (click)="onSelectCategory(worklog, category)">
                      <i class="ck ck-dot {{category?.colorClass}}"></i>
                      <span class="text" [title]="category?.name">{{category?.name}}</span>
                    </li>
                  </ul>
                </perfect-scrollbar>
              </div>
            </div>
          </div>
          <div class="new-cockpit-body-cell hours-col" [class.error]="!worklog?.totalSpent && isSheetSubmitted">
            <div class="hours-cell" [ngClass]="{'weekoffs': (work?.weekDay === 0 || work?.weekDay === 6)}" [ngStyle]="{'display': ((work?.weekDay === 0 || work?.weekDay === 6) && !accountRegionSetting?.isDisplayWeekend)?'none':'block'}"
              *ngFor="let work of worklog.workLogDetails">
              <input class="spent" type="text" [(ngModel)]="work.spent" placeholder="-" maxlength="5" [disabled]="isTimesheetFreezed" (focus)="updateCurrentlySelectedValue(work.spent)"
                (blur)="validateDayLogTimeLimit(worklog, work)" appOnlyNumber [max]="24" tabindex="1" />
              <span class="slash" *ngIf="accountRegionSetting?.isDisplayForecast"></span>
              <input class="forecast" type="text" placeholder="-" maxlength="5" [disabled]="isTimesheetFreezed" appOnlyNumber [max]="24"
                tabindex="1" *ngIf="accountRegionSetting?.isDisplayForecast" />
            </div>
          </div>
          <div class="new-cockpit-body-cell total-col">{{worklog?.totalSpent + 'h'}}
            <span *ngIf="accountRegionSetting?.isDisplayForecast">/ 0h</span>
          </div>
          <div class="new-cockpit-body-cell operations-col">
            <span class="ck ck-trash" (click)="worklog.showDeleteWorklogConfirmationBar = true" *ngIf="!isTimesheetFreezed"></span>
          </div>
          <app-confirmation-bar [title]="'Delete worklog ?'" (response)="onDeleteWorklogConfirmationResponse($event, worklog, index)"
            *ngIf="worklog?.showDeleteWorklogConfirmationBar"></app-confirmation-bar>
        </div>
      </div>
    </perfect-scrollbar>
    <div class="new-cockpit-table" *ngIf="workLogListDetails?.list?.length && thirdPartyConfigurationStatus.configuredButUserNotFound !== _userService.userDetails.thirdPartyConfigurationStatus">
      <div class="new-cockpit-table-row timesheet-summary">
        <div class="empty-cell work-col"></div>
        <div class="empty-cell project-col" *ngIf="thirdPartyConfigurationStatus.configured === _userService.userDetails.thirdPartyConfigurationStatus"></div>
        <div class="empty-cell activity-col" *ngIf="thirdPartyConfigurationStatus.configured === _userService.userDetails.thirdPartyConfigurationStatus"></div>
        <div class="empty-cell level-col"></div>
        <div class="empty-cell category-col" *ngIf="accountRegionSetting?.isDisplayCategory"></div>
        <div class="new-cockpit-body-cell hours-col">
          <div class="hours-cell" [ngClass]="{'weekoffs': (workDaySpent?.weekDay === 0 || workDaySpent?.weekDay === 6)}" [ngStyle]="{'display': ((workDaySpent?.weekDay === 0 || workDaySpent?.weekDay === 6) && !accountRegionSetting?.isDisplayWeekend)?'none':'block'}"
            *ngFor="let workDaySpent of timesheetSummary.totalSpentForWeekDaysArr">
            <label>{{workDaySpent.spent}}</label>
            <!-- <span class="slash" *ngIf="accountRegionSetting?.isDisplayForecast"></span>
            <label *ngIf="accountRegionSetting?.isDisplayForecast">0</label> -->
          </div>
        </div>
        <div class="new-cockpit-body-cell total-col">{{timesheetSummary?.totalSpentForTimesheet + 'h'}}
          <span *ngIf="accountRegionSetting?.isDisplayForecast">/ 0h</span>
        </div>
        <div class="empty-cell operations-col"></div>
      </div>
    </div>
  </div>
  <div class="no-record-found-section" *ngIf="!workLogListDetails?.list?.length && !workLogListDetails?.isLoading">
    <app-no-record-found [title]="userMsgData?.title" [description]="userMsgData?.description"></app-no-record-found>
  </div>
  <div class="button-wrap" *ngIf="!isTimesheetFreezed && workLogListDetails?.list?.length && thirdPartyConfigurationStatus.configuredButUserNotFound !== _userService.userDetails.thirdPartyConfigurationStatus">
    <span class="error-msg" *ngIf="workLogListDetails?.message">{{workLogListDetails?.message}}</span>
    <input type="button" class="ac-button ac-primary" value="Save" (click)="validateTimesheet(false)">
    <input type="button" class="ac-button ac-primary" value="Submit days" (click)="validateTimesheet(true)">
  </div>
</article>