@import '~assets/scss/_common';

.cockpit-table-row {
  width: 100%;
}

.cockpit-body-cell {
  padding-left: 0;

  input {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.category-col {
  @include text-truncate();
  width: 25%;
}

.description-col {
  @include text-truncate();
  width: 55%;
}

.billable-col {
  width: 10%;
  text-align: center;
}

.operations-col {
  width: 10%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  color: $wolf-grey-color;

  .ck {
    cursor: pointer;
    font-size: $x-medium-font;
  }

  .ck-edit {
    margin-right: 5px;
  }

  .ck-cancel {
    color: $red-color;
    margin-right: 5px;
  }

  .ck-tick {
    color: $jungle-green-color;
  }
}
